#container{
	width: 100%;
	height: 500px;
}
.sidebar{
	width: 210px;
    height: 100%;
    margin-top: -15px;
    margin-left: 5px;
    float: left;
}
li{
	margin-top: 20px;
}
#content{
	width: 800px;
	height: 100%;
	float: left;
	padding: 100px;
}